

*.xnb
*.pdn

*/Test/TestContent/*

/*.sln
/*.suo
*.csproj/
*.xml
*.ico
*.exe
*.user
*.pdb
*.cache
*.contentproj/
*.cachefile
*.txt
*.contentproj
*.csproj
*.deploy
*.application
*.manifest
*.png
Sounds/pick_1.wav
Test/Test/HealthBar-kulhajs-VAIO.cs
Test/Test/Properties/AssemblyInfo.cs
Test/Test/Test_TemporaryKey.pfx
Test/Test/bin/x86/Debug/app.publish/publish.htm
Test/Test/bin/x86/Release/Content/Coins/level1.coins
Test/Test/bin/x86/Release/Content/Coins/level2.coins
Test/Test/bin/x86/Release/Content/Coins/level3.coins
Test/Test/bin/x86/Release/Content/Coins/level4.coins
Test/Test/bin/x86/Release/Content/Coins/level5.coins
Test/Test/bin/x86/Release/Content/Levels/blocks_1.level
Test/Test/bin/x86/Release/Content/Levels/blocks_2.level
Test/Test/bin/x86/Release/Content/Levels/blocks_3.level
Test/Test/bin/x86/Release/Content/Levels/blocks_4.level
Test/Test/bin/x86/Release/Content/Levels/blocks_5.level
Test/Test/bin/x86/Release/Content/Levels/enemies_1.level
Test/Test/bin/x86/Release/Content/Levels/enemies_2.level
Test/Test/bin/x86/Release/Content/Levels/enemies_3.level
Test/Test/bin/x86/Release/Content/Levels/enemies_4.level
Test/Test/bin/x86/Release/Content/Levels/enemies_5.level
BleakHorizon.psess
BleakHorizon130418.vspx
Test/Test/bin/x86/Release/Content/Sounds/pick.wav
Test/TestContent/Sounds/explosion.wav
Test/TestContent/Sounds/hurt.wav
Test/TestContent/Sounds/pick.wav
